body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto;
}

h1 {
    color: rebeccapurple;
    font-family: 'Playfair Display', serif;
}

.logins {
  display: inline-block;
}

#offerButtons {
  display: block;
}

table, fieldset, form {
  /* display: inline-block; */
  margin: .5rem auto;
  padding: .5rem;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  margin: .2rem;
  padding: .2rem;
}
